extends layout

block content
    //p <a href="/home"><button type="button" class="btn btn-outline-primary">Home</button></a>
    
    br
    h2 
        div(class="row justify-content-center" style="text-align: center") Menu
        br
                
    div(class="container")    
        div(class="row justify-content-around")
                //div(class="col")
                each drink in records
                    ul(class="list-group list-group-horizontal-sm justify-content-center")
                        li(class="list-group-item" style="margin-bottom:20px")
                            div(class="scrolling-wrapper")                
                                div(class="card-lg card-deck" style="width: 18rem; height:")  
                                    a(href="/drinks/#{drink.fields.drinkId}" class="btn btn-outline-dark btn-block stretched-link") #{drink.fields.RecipeName}
                                    img(src="#{drink.fields.Attachments[0].url}",
                                        class="card-img-top",
                                        alt="...")
