extends layout

block content
  h1 #{Name}

  p Drink of Choice: <a href="/drinks/#{drinkId}"><button type="button" class="btn btn-outline-primary">#{drink}</button></a>

  p Bar: <button type="button" class="btn btn-outline-secondary">#{Bar} @ #{Location}</button> 
  p #{Radio}
  img(src="#{Attachments[0].url}", 
    alt="Me", 
    width="240",
    height="320")
  
  p #{attachments}
  p #{Check}
  p #{Notes}
  p Recipes: <button type="button" class="btn btn-outline-primary">#{Recipe1}</button>
      <button type="button" class="btn btn-outline-primary">#{Recipe2}</button>
      <button type="button" class="btn btn-outline-primary">#{Recipe3}</button>
  p #{Phone}
  p #{Options}
  p #{Dollars}
  p #{Email}
