extends layout

block content
  //p <a href="/home"><button type="button" class="btn btn-outline-primary">Home</button></a>
  
  h1 #{RecipeName}
  p #{attachments, url} 
    
    //img(src="https://dl.airtable.com/.attachmentThumbnails/bdab1bced54701bace9f8fbd5cac1a5b/371f0d41", 
        alt="Me", 
        width="240",
        height="320")

  img(src="#{Attachments[0].url}"
    width="240",
    height="320"
    )

  p <strong>Ingredients:</strong> #{RecipeReadable}
  p <strong>Preparation:</strong> #{Preparation}
  p <strong>Contributed By:</strong> <a href="/bartender/#{bartenderId}"><button type="button" class="btn btn-outline-primary">#{NameReadable}</button></a>